* {
  box-sizing: border-box;
}
#main-website{
  z-index: -20000;
  position: relative;
  display: none;
}
body {
  background-image: url(images/news-1172463_1280.jpg);
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  margin: 0;
  height: 100%;
}

h2 {
  text-align: center;
}
.logo {
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-image: linear-gradient(to right, #9e768f, #9fa4c4); */
  background-color: black;
  color: #4a3f53;
  height: 65px;
  padding: 1em;
  font-weight: bolder;
  font-size: 25px;
}

.menu li:hover {
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
/*Container for menu button  */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

/*  Creating the menu button */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 6px;
  width: 32px;
  z-index: 500;
  border-radius: 3px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

/*  Adding Functionality to the Hamburger Menu with CSS  */
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
  transition: 500ms;
  position: absolute;
  top: 10px;
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 10px;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
  transform: rotate(-45deg);
  transition: 500ms;
  position: absolute;
  top: 10px;
}

/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #9f9a9a;
    height: 2.5em;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #e8e8e8;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .menu li:hover {
    color: white;
    cursor: pointer;
    background-color: black;
  }
}

/* Header Region */
.header-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Logo-img {
  height: 90px;
}

/* Search and select section */
.search-and-select-container {
  z-index: -2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background-color: black;
  position: relative;
}
.searchByKeyword {
  font-size: 15px;
  margin-right: 0px;
  padding: 2px;
}
.goByKeyword {
  font-size: 15px;
  padding: 2px;
  margin-left: 0px;
  background-color: #000000;
  transition: 500ms;
  color: rgb(202, 202, 202);
  border: 1px solid rgb(202, 202, 202);
}
.goByKeyword:hover{
  background-color: rgb(202, 202, 202);
  color: black;
}
.countryDrop {
  font-size: 15px;
  height: 25px;
  background-color: #283131;
  border: 0px;
  color: whitesmoke;
}
button:hover{
  cursor: pointer;
}
select:hover{
  cursor: pointer;
}


/* Carousel Window */
.carousel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  aspect-ratio: 16/9;
  z-index: -2;
}
.carousel-container .carousel-card:not(:first-child) {
  display: none;
}
.carousel-card {
  width: 100%;
  box-sizing: border-box;
}
.carousel-card > img {
  width: 100%;
  aspect-ratio: 16/9;
}
.carousel-card-image:hover {
  cursor: pointer;
}
.news-headlines {
  position: absolute;
  margin-top: -55px;
  padding: 15px 10px;
  color: white;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 5;
}

/* Latest News Window */
@media (max-width: 700px) {
  .latest-news-heading {
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  .latest-news-heading {
    margin-top: 70px;
  }
}
.latest-news-headlines {
  font-size: 15px;
  margin-top: 0px;
}
.latest-news-container {
  padding-top: 10px;
  background-color: rgba(248, 166, 58, 0.301);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  overflow-x: scroll;
  padding-bottom: 10px;
}
.latest-news-card {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 10px;
  margin: 5px;
}
.latest-news-card:hover {
  cursor: pointer;
}
.latest-news-image {
  width: 100%;
  border-radius: inherit;
  height: 200px;
}
@media (max-width: 800px) {
  .latest-news-image {
    width: 200px;
    height: 150px;
  }
}

/* Thought Section */
.thought-container {
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
}
.heading-thought {
  background-color: black;
  color: white;
  padding: 5px;
  position: relative;
  bottom: -40px;
  left: 25%;
  width: 50%;
  z-index: 2;
  /* margin: 0px; */
  border-radius: 10px;
}
.thought-content {
  text-align: center;
  font-size: 28px;
  position: relative;
  object-position: center;
  left: 10%;
  /* border: 2px solid orangered; */
  background-color: rgba(255, 255, 255, 0.555);
  border-radius: 20px;
  padding: 18px;
  width: 80%;
}

/* Business Section */
.business-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.business-illustration {
  width: 100%;
  margin-bottom: 10px;
}
.business-news-container,
.business-illustration-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  margin: 10px;
  /* border: 1px solid black; */
}
.business-card {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  margin: 2px;
}
.business-card:hover {
  cursor: pointer;
}
.business-card-image {
  width: 100%;
  border-radius: inherit;
}
.business-news-headline {
  margin-top: 0px;
  font-size: 15px;
}
@media (max-width: 800px) {
  .business-illustration {
    display: none;
  }
  .business-main-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .business-news-container,
  .business-illustration-container {
    width: inherit;
    display: flex;
    margin: 0px;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
  }
  .business-illustration-container {
    padding: 0px 5px;
  }
  .business-card {
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 40%;
  }
  .business-card-image {
    height: 90px;
    width: 160px;
  }
  .business-news-headline {
    margin-left: 5px;
    font-size: 15px;
  }
}

/* Health Section */
.health-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.health-left-container {
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.health-right-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.health-illustration {
  width: 100%;
  height: inherit;
}
.health-card {
  background-color: rgba(255, 255, 255, 0.603);
  height: 50%;
  border-radius: 10px;
  margin: 5px;
}
.health-card:hover {
  cursor: pointer;
}
.health-card-image {
  width: 100%;
  border-radius: inherit;
  height: 400px;
}
.health-news-headlines {
  margin-top: 0px;
}
@media (max-width: 800px) {
  .health-heading {
    display: none;
  }
  .health-main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .health-left-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: inherit;
    margin: 0px;
    padding: 5px;
  }
  .health-right-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .health-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 40%;
  }
  .health-card-image {
    height: 90px;
    width: 160px;
  }
  .health-news-headlines {
    font-size: 15px;
  }
}

/* General News Section */
.general-news-container {
  box-sizing: border-box;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(images/news-1172463_1280.jpg);
  background-attachment: fixed;
  justify-content: space-evenly;
}
.general-news-card {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 10px;
}
.general-news-card:hover {
  cursor: pointer;
}
.general-news-headline {
  margin-top: 0px;
  color: white;
}
.general-card-image {
  width: 100%;
  border-radius: inherit;
}
@media (max-width: 600px) {
  .general-news-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
    padding: 0px 5px;
  }
  .general-news-card {
    width: 180px;
    margin: 5px;
  }
  .general-card-image {
    width: 180px;
  }
}

/* Sports Section */
.sports-main-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* background-image: url(news-1172463_1280.jpg); */
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}
.sports-left-container {
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.sports-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  flex-direction: row;
  /* border: 1px solid black; */
}
.sports-illustration {
  width: 100%;
  height: inherit;
}
.sports-card {
  height: fit-content;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 10px;
}
.sports-card:hover {
  cursor: pointer;
}
.sports-card-image {
  width: 100%;
  border-radius: inherit;
}
@media (max-width: 800px) {
  .sports-main-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .sports-right-container {
    width: 100%;
  }
  .sports-left-container {
    width: inherit;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
    padding-top: 0px;
    margin: 0px;
    justify-content: flex-start;
  }
  .sports-card {
    width: 300px;
    margin-left: 10px;
  }
  .sports-card-image {
    height: 250px;
    width: 300px;
  }
  .sports-news-headline {
    margin-top: 0px;
  }
}

/* Science Section */
.science-news-container {
  display: flex;
  justify-content: space-evenly;
}
.science-news-card {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 10px;
}
.science-news-card:hover {
  cursor: pointer;
}
.science-news-headline {
  margin-top: 0px;
}
.science-card-image {
  width: 100%;
  border-radius: inherit;
}
@media (max-width: 650px) {
  .science-news-container {
    padding: 0px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .science-news-card {
    width: 200px;
    margin-left: 10px;
  }
  .science-card-image {
    width: 200px;
    height: 150px;
  }
}

/* Entertainment Section */
.entertainment-news-container {
  display: flex;
  justify-content: space-evenly;
}
.entertainment-news-card {
  width: 30%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.603);
}
.entertainment-news-card:hover {
  cursor: pointer;
}
.entertainment-card-image {
  width: 100%;
  border-radius: inherit;
}
.entertainment-news-headline {
  margin-top: 0px;
}
@media (max-width: 650px) {
  .entertainment-news-container {
    padding: 0px 10px 5px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .entertainment-news-card {
    box-sizing: border-box;
    width: 200px;
    margin-left: 10px;
  }
  .entertainment-card-image {
    width: 200px;
    height: 150px;
  }
  .entertainment-news-headline {
    margin-top: 0px;
  }
}

/* tech Section */
.tech-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tech-left-container {
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.tech-right-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
}
.tech-illustration {
  width: 100%;
  height: inherit;
  border-radius: 20px;
}
.tech-card {
  height: 50%;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 10px;
  margin: 5px;
}
.tech-card:hover {
  cursor: pointer;
}
.tech-card-image {
  width: 100%;
  border-radius: inherit;
}
@media (max-width: 600px) {
  .tech-main-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .tech-right-container,
  .tech-left-container {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin: 0px;
  }
  .tech-left-container {
    width: inherit;
    overflow-x: scroll;
    padding: 5px 10px;
  }
  .tech-card {
    width: 300px;
    margin-left: 10px;
  }
  .tech-card-image {
    width: 250px;
    height: 150px;
  }
  .tech-illustration {
    padding: 10px;
  }
}

/* Newsletter Section */
.newsletter-container {
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: black;
  text-align: center;
  color: wheat;
}
.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Footer-section */
.footer-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  color: whitesmoke;
}
.back-to-top {
  height: inherit;
  width: inherit;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.up-arrow {
  height: 15px;
  width: 15px;
}

/* Styling the scrollbar */
::-webkit-scrollbar{
display: none;
}
